body
{
    margin : 0px;
    width: 100vw;
    height: 100vh;
}

#container
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 100%;
}

.item video
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    margin:0px;
    border:0px;
}

.one .item
{
    height: 100%;
    width:100%;
}

.two .item
{
    width: 50%;
    height: 100%;
} 
.three .item, .four .item
{
    width:50%;
    height: 50%;
}

.five .item,.six .item
{
    width:33.33%;
    height: 50%;
}

.seven .item,.eight .item
{
    width:25%;
    height: 50%;
}


#menu {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 14px;
    background-color: white;
    text-align: right;
}
